@import '../variables';

.orderList-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;

    .order{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 20px;
        border-radius: 2rem;
        width: 90%;
        box-shadow:  0 0.5rem 1rem $background;

        &-header{
            display: flex;
            justify-content: space-between;
            margin: 20px 24px 18px;
            border-bottom: 3px solid $gray-line;

            &__left{
                display: flex;
                flex-direction: column;

                .date{
                    font-size: 20px;
                    color: $black;
                    line-height: 1.3;
                    font-weight: 700;
                }

                .order-num{
                    display: flex;
                    font-size: 17px;
                    line-height: 1.29;
                    margin-top: 5px;
                    font-weight: 700;
                    cursor: pointer;
                    color: $button;

                    &:hover{
                        color:  $active;
                    }
                }
            }

            &__right{
                display: flex;
                // justify-content: space-between;
                // align-items: flex-end;
                user-select: none;

                .pay-block{
                    display: flex;
                    align-items: baseline;

                    .text{
                        color: $black;
                        font-size: 15px;
                        line-height: 1.29;
                    }

                    .paid{
                        font-size: 20px;
                        color: $black;
                        line-height: 1.29;
                        font-weight: 700;
                        margin-left: 5px;
                    }
                }
            }
        }

        &-bottom{
            display: flex;
            padding: 5px 10px;
            justify-content: space-between;

            .line{
                display: flex;
                flex-direction: row;
                align-items: center;

                .address{
                    color: $black;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.25;
                    margin-right: 5px;
                }

                .status-border{
                    background-color: $gray-line;
                    display: flex;
                    border-radius: 12px;
                    color: $active;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 1.29;
                    padding: 3px 8px;

                    .st{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

            }

            .r{
                display: flex;
                flex-direction: column;
                
                .addit-info{
                    display: flex;
                    font-size: 15px;
                    line-height: 1.29;
                    margin-top: 5px;
                }
            }
        }
    }

}