.active-star{
  fill:url(#linear-gradient);
}

.star{
  top: -10px;
  width: 25px;
  cursor: pointer;

  :hover{
    fill: $gray;
  }
}

.star-display{
  width: 25px;    
}

.fm-wrapper{

  display: flex;
  flex-direction: column;
  justify-content: center;

  .formmd{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    &-left{
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &-right{
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }

  .btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }

}