$black: #232323;
$background: #D9B19A;
$gray-line: #f6f6f6;
$button: #8C5230;
$form-border: #e6e6e6;
$active: #BF9075;
$cart:  $active;
$halfVisible: #b6b6b6;
$main1: #592F16;
$main2: #8C5230;
$main3: #BF9075;
$main4: #D9B19A;
$main5: #402A22;
$main6: #A67C58;
$main7: #D9BBA0;
$main8: #F2E4DC;
$gray : #707f8d;
$container-width: 90%;

$duration: 0.15s;
